.button {
  display: flex;
  align-items: center;
  background: var(--color-black);
  border: 0;
  cursor: pointer;
  color: var(--color-white);
  border-radius: 9999px;
  font-size: 16px;
  font-weight: 800;
  padding: 10px 24px;
  transition: opacity 0.3s ease;
  user-select: none;
}

.button svg {
  margin-right: 8px;
}

.button[disabled] {
  opacity: 0.2;
  pointer-events: none;
}

.button:hover {
  opacity: 0.7;
}
