:root {
  --base-font: system-ui -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  --color-primary: #0099ff;
  --color-primary-with-transparent: #0099ff4e;
  --color-secondary: #1c5480;
  --color-black: #000000;
  --color-white: #ffffff;
}

html,
body {
  background-image: radial-gradient(
      var(--color-primary-with-transparent) 1px,
      #fdfdfd 1px
    ),
    radial-gradient(var(--color-primary-with-transparent) 1px, #fdfdfd 1px);
  background-position: 0 0, 25px 25px;
  background-size: 50px 50px;
  padding: 0;
  margin: 0;
  font-family: var(--base-font);
}

a {
  color: inherit;
  text-decoration: none;
}

textarea,
input {
  font-family: var(--base-font);
}

* {
  box-sizing: border-box;
}

.p-15 {
  padding: 15px;
}
